@tailwind base;
@tailwind components;
@tailwind utilities;

body {
      background-color: #2B2B2B; /* Replace with your desired color */
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }